@{
    ViewData["Title"] = "Hola mundo";
<<<<<<< HEAD
    ViewData["Title3"] = "rama2 hashdshad, es dieeeeeeeeeeee, xqqqqqqqqqqqqq";
=======
    ViewData["Title3"] = "rama2 hashdshad, que pedx ee";
>>>>>>> xfaaaaaa yaa
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
